
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
header {
    background: #d32f2f;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.shop-btn {
    background: white;
    color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #fff;
}

.about-text {
    width: 50%;
    padding-right: 20px;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
}
.team {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.member {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.contact {
    padding: 50px;
    background: white;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-info, .contact-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    background: #d32f2f;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

input[type="email"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.logout{
    background-color: orangered;
    border-radius: 5px;
    padding: 10px;
}